S3method(as.list,coord)
S3method(as.list,facet)
S3method(as.list,ggplot)
S3method(as.list,proto)
S3method(as.list,scale)
export(json)
export(r2d3)
export(start_server)
import(Rook)
import(rjson)
importFrom(digest,digest)
importFrom(tools,file_ext)
importFrom(tools,file_path_sans_ext)
importFrom(whisker,whisker.render)
